:root {
  --neon-color1: darkgrey;
  --neon-color2: grey;
  --neon-color4: #ff94b8;
  --neon-color3: #ff6600;
}
*:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.btn{
  font-family: 'Comic Neue', cursive;
}
.card {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 1);
  transition: 0.5s;
  width: 45%;
  height: auto;
  background-color: rgba(0,0,0,.5);
  text-shadow: 2px 2px 10px #fff;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  
}

.card-img-top {
  /* border: 2px solid palevioletred; */
  /* box-shadow: 2px 2px 10px palevioletred; */
}

.card:hover {
  letter-spacing: 2px;
  border-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 0px 8px 3px var(--neon-color3);
  box-shadow: 0px 0px 10px 3px var(--neon-color3), inset 0px 0px 10px 3px var(--neon-color3);
}
.btn:hover {
  letter-spacing: 0;
}

.container {
  /* border: 1px solid black; */
  /* padding: 2px 16px; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: repeat(10, auto);
  column-gap: 10px;
  row-gap: 20px;

}
.container::before{
content: none;
}

.header {
  font-size: 60px;
  font-family: 'Bangers', cursive;
  /* letter-spacing: 2px; */
  color: black;
  animation: glow 1s ease-in-out infinite alternate;

}
nav{
  padding-bottom: 50px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--neon-color1), 0 0 40px  var(--neon-color1), 0 0 50px  var(--neon-color1), 0 0 60px  var(--neon-color1), 0 0 70px  var(--neon-color1);
    
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 50px var(--neon-color2), 0 0 60px var(--neon-color2), 0 0 70px var(--neon-color2), 0 0 80px var(--neon-color2), 0 0 80px var(--neon-color2);
   
  }
}

.container-header{
  font-size: 30px;
  font-family: 'Comic Neue', cursive;
  font-weight: bolder;

}
.searchbar{
  background: rgba(0,0,0,.5);
  border: 2px solid white;
  border-radius: 10px;
  height: 40px;
  width: max-content;
  color: white;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 8px 3px var(--neon-color3);
  box-shadow: 0px 0px 10px 3px var(--neon-color3), inset 0px 0px 10px 3px var(--neon-color3);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--neon-color3), 0 0 40px var(--neon-color3), 0 0 50px var(--neon-color3), 0 0 60px var(--neon-color3), 0 0 70px var(--neon-color3);
}

.btn-search{
  font-weight: bolder;
  background-color: transparent;
  border: 2px solid #FFA500;
  color: #FFA500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn-search:hover, .btn-search:focus {
  color:#FFA500;
  letter-spacing: 2px;
  -webkit-box-shadow: inset 0px 0px 8px 3px var(--neon-color3);
  box-shadow: 0px 0px 10px 3px var(--neon-color3), inset 0px 0px 10px 3px var(--neon-color3);
  border-color: #fff;
  text-shadow: 0 0 10px #fe8db1, 0 0 20px #fe8db1, 0 0 30px var(--neon-color3), 0 0 40px var(--neon-color3), 0 0 50px var(--neon-color3), 0 0 60px var(--neon-color3), 0 0 70px var(--neon-color3);
}

.search-container{
  
  height: 115px;
  width: 350px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 8px 3px var(--neon-color4);
  box-shadow: 0px 0px 10px 3px var(--neon-color4), inset 0px 0px 10px 3px var(--neon-color4);
  background-color: rgba(0,0,0,.5);
  margin: auto;
}